.home {
    display: grid;
}

.logo {
    grid-area: logo;
    text-align: center;
    font-size: 28px;
}

.carousel {
    grid-area: carousel;
}

@media only screen and (max-width: 1000px) {
    .home {
        grid-template-areas:
            'logo'
            'carousel';
        grid-template-columns: 1fr;
    }

    .logo {
        padding: 1rem;
    }
}

@media only screen and (min-width: 1000px) {
    .home {
        grid-template-areas: 'carousel logo';
        grid-template-columns: 1fr 1.4fr;
    }

    .logo {
        margin: auto;
    }
    .carousel {
        max-width: 70%;
    }
}
