.home {
    display: grid;
}

.logo {
    grid-area: logo;
    text-align: center;
}

.carousel {
    max-width: 100%;
    max-height: 90vh;
    grid-area: carousel;
}
.logo-image {
    height: auto;
    max-width: 100%;
}
@media only screen and (max-width: 1000px) {
    .home {
        grid-template-areas:
            'logo'
            'carousel';
        grid-template-columns: 1fr;
    }

    .logo {
        padding: 1rem;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1000px) {
    .home {
        grid-template-areas: 'carousel logo';
        grid-template-columns: 1fr 1.5fr;
    }

    .logo {
        margin: auto;
    }
}

.home-buttons {
    margin: 1rem 1.5rem 0;
    min-width: 28%;
    font-family: Inkfree;
    font-size: 1.3rem !important;
}
