.price-tag {
    color: gray;
    text-decoration: underline;
}
.header {
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 4rem;
}

.bg-success {
    margin-top: 0px;
    margin-bottom: 1rem;
    width: 50%;
}

.service-group {
    max-width: 75%;
    justify-content: center;
}

.card {
    margin-bottom: 2rem;
}

.card-title {
    font-size: 33px;
    text-align: center;
    font-family: Inkfree;
}

.card-text {
    line-height: 2rem;
}

.service-group .card {
    list-style-type: none;
}

@media only screen and (max-width: 930px) {
    .card-w-33 {
        width: 100%;
    }
}
@media only screen and (min-width: 930px) {
    .card-w-33 {
        width: 33%;
    }
}
