@media only screen and (max-width: 575px) {
    .gallery {
        grid-gap: 0.2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media only screen and (min-width: 575px) {
    .gallery {
        --stagger-delay: 100ms;
        grid-gap: 0.5rem;
        grid-template-rows: repeat(20vw);
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 2rem;
    }
    .gallery .card:hover {
        transform: scale(1.05);
        position: relative;
        z-index: 999;
    }
}
.gallery {
    --stagger-delay: 100ms;
    display: grid;
}

.gallery .card {
    border: 0;
    border-radius: 0;
    object-fit: cover;
    transition: transform 0.25s;
}

.gallery .card-entrance {
    animation: cardEntrance 750ms ease-out;
    animation-fill-mode: backwards;
}

@for $i from 1 to 20 {
    .gallery .card:nth-child(#{$i}) {
        animation-delay: calc(#{$i} * var(--stagger-delay));
    }
}

@keyframes cardEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
