@media only screen and (min-width: 576px) {
    .gallery {
        --stagger-delay: 100ms;
        gap: 15px;
        margin-bottom: 2rem;
        overflow-x: hidden;
    }
    .gallery .card:hover {
        transform: scale(1.05);
        position: relative;
        z-index: 999;
    }
}
.gallery {
    --stagger-delay: 100ms;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 550px;
}

.gallery .card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

$image-base-color: rgb(10, 117, 37);

.gallery .card-entrance {
    background-color: $image-base-color;
    animation: cardEntrance 750ms ease-out, loading 4s infinite ease-in-out;
    -webkit-animation: cardEntrance 750ms ease-out, loading 4s infinite ease-in-out;
    -moz-animation: cardEntrance 750ms ease-out, loading 4s infinite ease-in-out;
    -o-animation: cardEntrance 750ms ease-out, loading 4s infinite ease-in-out;
    -ms-animation: cardEntrance 750ms ease-out, loading 4s infinite ease-in-out;
    animation-fill-mode: backwards;
}

@for $i from 1 to 50 {
    .gallery .card:nth-child(#{$i}) {
        animation-delay: calc(#{$i} * var(--stagger-delay));
    }
}
