.facebook-reviews {
    display: grid;
    margin-bottom: 2rem;
    text-align: center;
}

.fb-post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}
.subheader {
    font-style: italic;
    text-align: center;
    margin-bottom: 3rem;
}
.bg-success {
    width: 50%;
}

.trustpilot-widget {
    bottom: 0.5rem;
    z-index: 9991;
}

@media only screen and (min-width: 860px) {
    .facebook-reviews {
        grid-template-areas: '1' '2';
    }
    .trustpilot-widget {
        bottom: 1rem;
    }
}

@media only screen and (min-width: 1250px) {
    .trustpilot-widget {
        bottom: 1.5rem;
    }
}
