.logo-container svg {
    color: black;
}

.logo-container svg:hover {
    color: darkcyan;
}

.logo-container a {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 576px) {
    .navbar-bottom {
        position: fixed !important;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
    .logo-container {
        margin-left: auto;
    }
}

@media only screen and (max-width: 575px) {
    .navbar-bottom {
        border-top: #2c4d3b 1px solid;
    }
    .logo-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
}
