.about {
    display: grid;
    grid-template-areas:
        'text1 image1'
        'image2 text2 '
        'text3 image3'
        'image4 text4';
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    font-size: 18px;
}

.om-grobund {
    grid-area: text1;
    width: 90%;
}

.livsrejser {
    grid-area: text2;
    width: 90%;
}

.naturen {
    grid-area: text3;
    width: 90%;
}

.hvorfor-grobund {
    grid-area: text4;
    width: 90%;
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
}

.image3 {
    grid-area: image3;
}

.image4 {
    grid-area: image4;
}

@media only screen and (max-width: 575px) {
    .about {
        display: grid;
        grid-template-areas:
            'text1'
            'image1'
            'text2'
            'image2'
            'text3'
            'image3'
            'text4'
            'image4';
        grid-template-columns: 1fr;
        justify-items: center;
        font-size: 18px;
    }
}

@media only screen and (min-width: 576px) {
}

.sub-header {
    margin-bottom: 1rem;
    border-bottom: 2px solid green;
}

.about-buttons {
    margin: 0 1.5rem 0;
    min-width: 28%;
}
